.scroll-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: transparent; /* Make the background transparent */
    border: none; /* Remove border */
    cursor: pointer;
    transition: opacity 0.3s ease, transform 0.3s ease;
    z-index: 1000; /* Ensure it's above other elements */
  }
  
  .scroll-top:hover {
    transform: scale(1.1); /* Slightly larger on hover */
  }
  
  .scroll-top .MuiSvgIcon-root {
    color: #000; /* Change the arrow color as needed */
    opacity: 0.7; /* Arrow opacity */
  }
  
  .scroll-top:hover .MuiSvgIcon-root {
    opacity: 1; /* Fully visible on hover */
  }