.header {
    height: 8em;
    max-width: 1100px;
    width: 95%;
    margin: 0 auto;
    justify-content: space-between;
    position: relative; /* Required for absolute positioning of dropdown */
  }
  
  @media (max-width: 600px) {
    .header {
      height: 6em;
    }
  }
  
  .navbar-container {
    position: relative; /* For dropdown positioning */
  }
  
  .dropdown-toggle {
    background: transparent;
    border: none;
    color: #B6D0E2;
    cursor: pointer;
    font-size: 18px;
    display: none; /* Hidden by default on larger screens */
  }
  
  .dropdown-menu {
    position: absolute;
    top: 100%; /* Below the toggle button */
    right: 0;
    background: #444; /* Dropdown background color */
    border: 1px solid #B6D0E2;
    border-radius: 5px;
    z-index: 1000;
    width: 100%; /* Adjust as needed */
  }
  
  .dropdown-menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .dropdown-menu li {
    padding: 10px;
  }
  
  .dropdown-menu li a {
    color: #B6D0E2;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-menu li:hover {
    background: #555; /* Change background on hover */
  }
  
  /* Media query to show dropdown toggle only on mobile */
  @media (max-width: 600px) {
    .dropdown-toggle {
      display: block; /* Show toggle button on mobile */
    }
    
    .navbar-container {
      display: flex;
      flex-direction: row;
      align-items: flex-end; /* Align items to the right */
    }
  }